@import stylesheets/bourbon/bourbon
@import stylesheets/reset.sass
@import stylesheets/colors.sass
@import stylesheets/fonts.sass
@import stylesheets/mixins.sass

// Vendor
@import stylesheets/vendor/font-awesome.min.scss


// Sections
@import stylesheets/start.sass
@import stylesheets/speakers.sass
@import stylesheets/sponsors.sass
@import stylesheets/cfp.sass


body
  color: $cream
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  background-color: $red

  a
    color: $cream
    text-decoration: none

  nav
    font-size: 20px
    left: 17px
    position: fixed
    text-align: center
    top: 23px
    width: 26px
    z-index: 10
    a
      @include transition
      color: $cream
      display: block
      margin-bottom: 5px
      text-decoration: none
      &:hover
        opacity: 0.7
      &.nav-item
        background: $cream
        border-radius: 100%
        display: block
        height: 8px
        margin: 0 0 16px 10px
        text-indent: -30000px
        width: 8px
        &.active
          background: $teal


  .wrapper
    margin-left: auto
    margin-right: auto
    max-width: 1100px
    padding-left: 70px
    padding-right: 70px
  
  section
    article      
      padding-top: 50px




