@import stylesheets/bourbon/bourbon
@import stylesheets/reset.sass
@import stylesheets/colors.sass
@import stylesheets/fonts.sass
@import stylesheets/mixins.sass

// Vendor
@import stylesheets/vendor/font-awesome.min.scss


// Sections
@import stylesheets/navigation.sass
@import stylesheets/footer.sass
@import stylesheets/start.sass
@import stylesheets/registration.sass
@import stylesheets/speakers.sass
@import stylesheets/sponsors.sass
@import stylesheets/venue.sass
@import stylesheets/cfp.sass


body
  color: $cream
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  background-color: $red
  font-size: 14px
  line-height: 1.5

  a
    color: $cream
    text-decoration: none
    &:hover
      text-decoration: underline

  .wrapper
    margin-left: auto
    margin-right: auto
    max-width: 1100px
    padding-left: 70px
    padding-right: 70px
    @media screen and (max-width: 500px)
      padding-left: 30px
      padding-right: 30px


    p, ul, h6, h5, h4, h3, h2
      margin-bottom: 20px
    
    h6
      font-size: 15px
    h5
      font-size: 15px
    h4
      font-size: 16px
    h3
      font-size: 17px
      margin-bottom: 15px
    h3
      font-size: 18px

    ul
      list-style: disc inside
      padding: 0 20px 20px
      li
        margin-bottom: 5px
        &:last-child
          margin-bottom: 0

    strong
      font-weight: 600



  .btn
    @include transition(all 0.25s)
    @include inline-block
    background: $cream
    border-radius: 3px
    box-shadow: 0 3px 0 rgba(black, 0.1)
    color: $violet
    font-size: 12px
    font-weight: 700
    margin: 0 6px 6px 0
    padding: 6px 20px
    text-transform: uppercase
    i
      font-size: 18px
      margin: 0 0 1px 6px
      vertical-align: bottom
    &:hover
      opacity: 0.85
      text-decoration: none
    &.btn-alt
      background: $teal
      color: $cream
  
  &#home
    section
      article.wrapper
        padding-bottom: 50px
        padding-top: 50px

        h2
          float: left
          font-family: 'Ubuntu'
          font-size: 30px
          font-weight: 300
          margin-bottom: 10px
          width: 25%

        .content
          margin-left: 25%
          padding-top: 10px
            

        @media screen and (max-width: 800px)
          text-align: center
          h2
            float: none
            width: auto
          .content
            margin: 0

          .btn
            display: block



