%footer
  .wrapper
    .social-links
      %a.facebook{:href => "https://www.facebook.com/rubyconfar", :target => "_blank"}
        %i.fa.fa-facebook-square
      %a.twitter{:href => "https://twitter.com/RubyConfAR", :target => "_blank"}
        %i.fa.fa-twitter-square
      %a.vimeo{:href => "http://vimeo.com/rubyargentina", :target => "_blank"}
        %i.fa.fa-vimeo-square
      %a.github{:href => "https://github.com/rubyargentina/rubyconfar-2014", :target => "_blank"}
        %i.fa.fa-git-square

    .fb-like-box{"data-colorscheme" => "dark", "data-header" => "false", "data-href" => "https://www.facebook.com/rubyconfar", "data-show-border" => "false", "data-show-faces" => "true", "data-stream" => "false"}

    .anteriores
      %h6 Edición anterior:
      %ol
        %li
          %a{:href=>"http://2013.rubyconfargentina.org"}
            %i.fa.fa-check
            RubyConf Argentina 
            %strong 2013
    %h5
      %strong RubyConf Argentina 
      es organizada por RAAC, una asociación sin fines de lucro dedicada a promover el crecimiento de Ruby y tecnologías relacionadas.
    %p La organización del evento se reserva el derecho de admisión y permanencia conforme con lo establecido en la legislación vigente.

    %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", href: "https://twitter.com/rubyconfar", "data-size" => "large"} Follow @rubyconfar

    
    %a#sz{:href=>"http://www.szstudios.com.ar", :target=>"_blank"} Web design by Sz Studios 
