%nav
  %a.fist-logo{:href => "index_en.html#start"}
  %a.circle{:href => "index_es.html#start"}
    .icon
    %span Inicio
  %a.circle{:href => "index_es.html#registration"} 
    .icon
    %span Incripción
  %a.circle{:href => "index_es.html#speakers"}
    .icon
    %span Oradores
  %a.circle{:href => "index_es.html#sponsors"}
    .icon
    %span Sponsors      
  %a.circle{:href => "index_es.html#venue"}
    .icon
    %span Lugar
  %a.facebook{:href => "https://www.facebook.com/rubyconfar", :target => "_blank"}
    %i.fa.fa-facebook
  %a.twitter{:href => "https://twitter.com/RubyConfAR", :target => "_blank"}
    %i.fa.fa-twitter

