%nav
  %a.fist-logo{:href => "index_en.html#start"}
  %a.circle{:href => "index_en.html#start"}
    .icon
    %span Start
  %a.circle{:href => "index_en.html#registration"} 
    .icon
    %span Registration
  %a.circle{:href => "index_en.html#speakers"}
    .icon
    %span Speakers
  %a.circle{:href => "index_en.html#sponsors"}
    .icon
    %span Sponsors      
  %a.circle{:href => "index_en.html#venue"}
    .icon
    %span Venue
  %a.facebook{:href => "https://www.facebook.com/rubyconfar", :target => "_blank"}
    %i.fa.fa-facebook
  %a.twitter{:href => "https://twitter.com/RubyConfAR", :target => "_blank"}
    %i.fa.fa-twitter

