- content_for(:body_id) {"cfp"}
- content_for(:title) {"Call For Papers | "}


%header
  .podio
    .shadow
    .mic
    .fist-logo

#top
  .wrapper
    %h1 Call for Papers

%section

  %article.wrapper
    %h1 Call for Papers

    %h2{title: "Why"} Why
    %p
      A conference like RubyConf Argentina is all about new ideas, getting a renewed perspective on old topics, encouraging discussion and getting to know new people. Having a good roster of already established, well-known speakers is not enough to guarantee that.
      %span We want you to jump on stage
      and show everyone what you have - maybe you created a new library, or have an idea worth exploring, or want to share some of your experiences.
    %p
      In fact, we belive so much that new faces are to be on the spotlight of a conference, that we go to great lenghts in making selected speakers comfortable so they can rock the stage:
      %span we will take care of accomodation expenses, transfers from the airport to the hotel
      , and much more!
  %article.wrapper
    %h2{title: "Guidelines"} Guidelines
    %ul
      %li
        You can submit your proposal via this form no later than
        %span September the 1st 2014, 23:59 -3:00
      %li
        You will be able to send
        %span as much proposals as you want.
      %li The talk duration must be around 30 minutes. 
      %li 
        The main conference's theme is the Ruby programming language. 
        We highly encourage you to choose a topic that is somehow related to it, either directly or tangentially - that being said, we're open to original mind-blowing proposals.

    %h2 Suggested topics

    %ul
      %li Artificial intelligence
      %li Robotics
      %li Security / Cryptography / Hacking
      %li Databases
      %li Education
      %li Art

  %article.wrapper
    %h2{title: "Selection process"} Selection process
    %ul
      %li The selection process will be managed by a closed commitee formed by the RubyConf Argentina organizers.
      %li We won't publish the votes either publicly or privately.
      %li The selected list of speaker will be announced publicly via social networks and e-mail, as well as privately to each participant.

  %article.wrapper
    %h2{title: "What you get"} What you get
    %ul
      %li
        %strong Free ticket
        to the conference (all goodies included!).
      %li Appearance in the conference's leaflet, website, etc.
      %li Speakers' dinner.
      %li
        Unfortunately we’re
        = succeed "," do
          %strong not able to cover any flight costs
      
      
    %a.submit.btn.btn-alt{href: "#"} SOON
