- content_for(:body_id) {"cfp"}
- content_for(:title) {"Convocatoria a Charlas | "}

%header
  .podio
    .shadow
    .mic
    .fist-logo

#top
  .wrapper
    %h1 Convocatoria a Charlas

%section

  %article.wrapper
    %h1 Llamado a Charlas

    %h2{title: "Why"} ¿Por qué? 
    %p 
      Conferencias como RubyConf Argentina tratan principalmente sobre ideas, renovar nuestra perspectiva en conceptos pasados, fomentar la discusión y conocer nuevos amigos. Tener un panel de oradores famosos y establecidos no es suficiente para garantizar ésto. Queremos que asaltes el escenario y le muestres a todos lo que tenés: puede ser una nueva librería en la que estuviste trabajando, una idea que merezca la pena ser explorada y dada a conocer, o compartir algunas de tus experiencias.
    %p 
      De hecho creemos tan firmemente que las caras nuevas deberían ser las destacadas en una conferencia que hacemos lo imposible porque nuestros oradores se sientan cómodos para demoler el escenario: ¡nos hacemos cargo de los gastos de acomodación, viajes entre el aeropuerto y el hotel, y mucho más!

  %article.wrapper
    %h2{title: "Instrucciones"} Instrucciones
    %ul
      %li
        Podrás enviar tu propuesta a través de este formulario hasta el 
        %span 1ro de Septiembre de 2014 a las 23.59, horario de Argentina (zona horaria: -3.00).
      %li
        Podrás enviar cuantas propuestas quieras.
      %li
        La duración de las charlas deberá ser de no más de 30 minutos.
      %li
        El tema principal de la conferencia es el lenguaje de programación Ruby. Te aconsejamos elegir un tópico para tu charla que esté de alguna manera relacionado, ya sea directa o tangencialmente. Habiendo dicho esto, también estamos abiertos a propuestas que nos vuelen la cabeza.

    %h2 Temas sugeridos

    %ul
      %li Artificial intelligence
      %li Robotics
      %li Security / Cryptography / Hacking
      %li Databases
      %li Education
      %li Art

  %article.wrapper
    %h2{title: "Selection process"} Selection process
    %ul


      %li El proceso de selección será conducido por un comité cerrado formado por los organizadores de la RubyConf Argentina. 
      %li Puedes enviar tanta propuestas como quieras.
      %li No se publicarán los votos públicamente ni privadamente. 
      %li La lista de oradores elegidos será anunciada públicamente a través de redes sociales, email y de manera personal a cada orador. 

  %article.wrapper
    %h2{title: "What you get"} What you get
    %ul
      %li
        Entrada libre a la conferencia (¡bolsa de regalos incluída!) 
      %li
        Aparición en el programa, website y demás medios emitidos por la conferencia. 
      %li 
        Speakers' day: un día de campo con los demás oradores y organizadores para conocernos antes del evento principal, compartiendo un típico asado argentino.
      %li
        Desafortunadamente no podemos cubrir ningún costo de vuelo. 
      
    %a.submit.btn.btn-alt{href: "https://docs.google.com/forms/d/1HWyHYwzDYywbOYP1TsT_yIbdr06xovf_W6Dpee4CiM4/viewform", target:"_blank"} Envía tu propuesta!
