%section#cfp
  %article.wrapper

    %h2{title: "Why"} Why
    %p
      A conference like RubyConf Argentina is all about new ideas, getting a renewed perspective on old topics, encouraging discussion and getting to know new people. Having a good roster of already established, well-known speakers is not enough to guarantee that.
      %span> We want you to jump on stage
      and show everyone what you have - maybe you created a new library, or have an idea worth exploring, or want to share some of your experiences.
    %p
      In fact, we belive so much that new faces are to be on the spotlight of a conference, that we go to great lenghts in making selected speakers comfortable so they can rock the stage:
      %span> we will take care of accomodation expenses, transfers from the airport to the hotel
      , and much more!
  %article.wrapper
    %img.cfp{alt: "Guidelines - Call for papers", src: "http://assets2014-1.baruco.org/assets/guidelines_call_for_papers-0b4bb8c44afd726b4596e5015ad8e765.svg", title: "Guidelines - RubyConf Argentina Call for papers"}/
    %h2{title: "Guidelines"} Guidelines
    %ul
      %li
        You can submit your proposal via this form no later than
        %span August the 1st 2014, 23:59 CEST
      %li
        You will be able to send
        %span as much proposals as you want.
      %li
        %span> You can modify your proposals any time
        before August the 1st 2014, 23:59 CEST
      %li The main conference's theme is the Ruby programming language. We highly encourage you to choose a topic that is somehow related to it, either directly or tangentially - that being said, we're open to original mind-blowing proposals.
      %li The talk duration must be around 30 minutes, plus 10min for Q&A.
      %li The video provided is just to show your speaking skills. It doesn't matter if it's from a fancy high-tech conf or from the comfort of your sofa. It doesn't have to be related to your submitted topic - that's what the description is for!
  %article.wrapper
    %img.cfp{alt: "Selection process - Call for papers", src: "http://assets2014-1.baruco.org/assets/selection_process_call_for_papers-042e90c1948d5db5899591b2b1c6af2d.svg", title: "Selection process - RubyConf Argentina Call for papers"}/
    %h2{title: "Selection process"} Selection process
    %ul
      %li
        There are
        %span> 4 speaker slots
        reserved to the call for papers.
      %li The selection process will be managed by a closed commitee formed by the RubyConf Argentina organizers.
      %li We will follow a 2-step voting process:  Topic triage (being blind about who it is from), and a second phase where we vote based on the video provided. In case of draw, a third voting phase could take place.
      %li We won't publish the votes either publicly or privately.
      %li The selected list of speaker will be announced publicly via social networks and e-mail, as well as privately to each participant.
  %article.wrapper
    %img.cfp{alt: "What you get - Call for papers", src: "http://assets2014-3.baruco.org/assets/what_you_get-41e05282cf477c6c7beb4fe8770968a1.svg", title: "What you get - RubyConf Argentina Call for papers"}/
    %h2{title: "What you get"} What you get
    %ul
      %li
        %strong Free ticket
        to the conference (all goodies included!).
      %li
        3 nights of
        %strong paid accommodation
        at the
        %strong NH Constanza 4 star hotel
        (1 minute walk from the venue).
      %li Transfer from airport to hotel.
      %li Appearance in the conference's leaflet, website, etc.
      %li Speakers' dinner.
      %li
        Unfortunately we’re
        = succeed "," do
          %strong not able to cover any flight costs
      
      
    %a.submit{href: "/mandale"} Submit proposal

