- content_for(:body_id) {"home"}

#top
  .wrapper
    %h1 Code Of Conduct / Código de Conducta

%section#registration
  %article.wrapper
    %h2 Español

    %p{style:"font-family: monospace"}
      Creemos y confiamos en las personas, que año a año han demostrado un comportamiento ejemplar en RCAR. Asimismo estamos al tanto de la problemática global y por tanto queremos recalcar que no se tolerara ningún hecho de discriminación o abuso por parte de asistentes, oradores y todo aquel que acuda a la conferencia. RCAR es un evento que se rige bajo la legislación argentina, una de las primeras en el mundo en aceptar la igualdad de género y combatir la discriminación, y se llevarán a cabo las acciones pertinentes en caso de ser requeridos. 
    
    %br
    %br
    %br
    %br

    %h2 English

    %p{style:"font-family: monospace"}
      Creemos y confiamos en las personas, que año a año han demostrado un comportamiento ejemplar en RCAR. Asimismo estamos al tanto de la problemática global y por tanto queremos recalcar que no se tolerara ningún hecho de discriminación o abuso por parte de asistentes, oradores y todo aquel que acuda a la conferencia. RCAR es un evento que se rige bajo la legislación argentina, una de las primeras en el mundo en aceptar la igualdad de género y combatir la discriminación, y se llevarán a cabo las acciones pertinentes en caso de ser requeridos. 

