- content_for(:body_id) {"home"}

#top
  .wrapper
    %h1 Código de Conducta

%section#registration
  %article.wrapper
    %h2 Español

    %p{style:"font-family: monospace"}
      No se tolerará ningún acto de discriminación o abuso por parte de asistentes, oradores y todo aquel que acuda a la conferencia. RubyConf Argentina es un evento que se rige bajo la legislación argentina, una de las primeras en el mundo en aceptar la igualdad de género y combatir la discriminación, y se llevarán a cabo las acciones pertinentes en caso de ser requeridas.
    
    %br
    %br
    %br
    %br

    %h1 Code Of Conduct

    %p{style:"font-family: monospace"}
      Any act of discrimination or harassment by attendees, speakers or anyone present at the conference won't be tolerated. RubyConf Argentina is an event governed by Argentinian law, one of the most advanced in terms of gender equality and policies against discrimination. The organizers will carry out appropriate actions if required.
      
