- content_for(:body_id) {"home"}

%section#start
  %hgroup
    %h1
      %img{:alt => "Rubyconf Argentina | Octubre 24 / 25, 2014", :height => "244", :src => "images/rubyconf.png", :width => "462"}
    %h2 Ciudad Cultural Konex

%section#registration
  %article.wrapper
    %h2 Registration
    .content
      %p
        %a.btn.btn-alt{href: '#'} 
          Soon
          %i.fa.fa-angle-right

      %p What you get with your tickets:

      %ul
        %li Admission to two days of talk sessions
        %li Access to any after-hour parties
        %li Official Conference Shirt and goodie bug
        %li Breakfast, Lunch and Snacks on both days
        %li Access to our fantastic attendees and speakers

%section#speakers
  %article.wrapper
    %h2 Speakers
    .content
      %p
        %a.btn{:href=>"call_for_papers.html"}
          Call For Papers
          %i.fa.fa-angle-right

      %p So you think you have a crazy idea that no one would consider presenting in a conference? That no conference committee would accept? Now we are talking. 
      %p Yes, it's time to speak up! Submit your proposal and get to tall in front of more than 400 rubyists!
      %p Read the guidelines and submit your proposal! We want you to speak on the next RubyConf Argentina. It's up to you to do it!

%section#sponsors
  %article.wrapper
    %h2 Sponsors
    .content
      %h3
        Are you interested in helping us the 4th RubyConf Argentina Conference?
      %p 
        Check out the sponsorship brochure to see how your company can be part of one of the biggest conferences in South America. 

      %p
        %a.btn.btn-alt{:href=>"#"} Download Brochure
      %p 
        %a.btn.btn-alt{:href=>"mailto:rubyconfar@gmail.com?&subject=[RubyConfAr] Consulta sobre Sponsoreo."} Contact us
        / %br
        and we'll tell you how to take advantage of this opportunity.

%section#venue
  %article.wrapper
    %h2 Venue
    .content
      %h3 CIUDAD CULTURAL KONEX
      %address Sarmiento 3151, C1196AAG Buenos Aires, Capital Federal, Argentina
    %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://www.google.com/maps?q=Sarmiento+3131,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina&hnear=Sarmiento+3131,+Balvanera,+Buenos+Aires,+Argentina&t=m&z=14&output=embed", width: "100%"}
