%section#start
  %hgroup
    %h1
      %img{:alt => "Rubyconf Argentina | Octubre 24 / 25, 2014", :height => "244", :src => "images/rubyconf.png", :width => "462"}
    %h2 Ciudad Cultural Konex



%section#speakers
  %article.wrapper
    %h2 Speakers
    %a{:href=>"call_for_papers.html"} Call For Papers

%section#sponsors
  %article.wrapper
    %h2 Sponsors
    %p
      %a{:href=>"mailto:rubyconfar@gmail.com?&subject=[RubyConfAr] Consulta sobre Sponsoreo."} Envianos un email 
      y te contaremos cómo tu empresa puede aprovechar esta gran oportunidad.

%footer.wrapper
  %h4 RubyConf Argentina es organizada por RAAC, una asociación sin fines de lucro dedicada a promover el crecimiento de Ruby y tecnologías relacionadas.
  %h5
    Eventos anteriores:
    %a{:href=>"http://2011.rubyconfargentina.org"} 2011, 
    %a{:href=>"http://2012.rubyconfargentina.org"} 2012, 
    %a{:href=>"http://2013.rubyconfargentina.org"} 2013.
  %p La organización del evento se reserva el derecho de admisión y permanencia conforme con lo establecido en la legislación vigente.

  %a{:href => "https://www.facebook.com/rubyconfar", :target => "_blank"}
    %i.fa.fa-facebook-square
  %a{:href => "https://twitter.com/RubyConfAR", :target => "_blank"}
    %i.fa.fa-twitter-square
  %a{:href => "http://vimeo.com/rubyargentina", :target => "_blank"}
    %i.fa.fa-vimeo-square

