- content_for(:body_id) {"home"}

%section#start
  %hgroup
    %h1
      %img{:alt => "Rubyconf Argentina | Octubre 24 / 25, 2014", :height => "244", :src => "images/rubyconf.png", :width => "462"}
    %h2 Ciudad Cultural Konex



%section#speakers
  %article.wrapper
    %h2 Speakers
    .content
      %a.btn{:href=>"call_for_papers.html"}
        Call For Papers
        %i.fa.fa-angle-right

%section#sponsors
  %article.wrapper
    %h2 Sponsors
    .content
      %p
        %a.btn{:href=>"mailto:rubyconfar@gmail.com?&subject=[RubyConfAr] Consulta sobre Sponsoreo."} Envianos un email 
        y te contaremos cómo tu empresa puede aprovechar esta gran oportunidad.

  

